In [3]:
"""Pandas DataFrames
Pandas is a high-level data manipulation tool developed by Wes McKinney. It is built on the Numpy package and its key data structure is called the DataFrame. 
DataFrames allow you to store and manipulate tabular data in rows of observations and columns of variables."""

'Pandas DataFrames\nPandas is a high-level data manipulation tool developed by Wes McKinney. It is built on the Numpy package and its key data structure is called the DataFrame. \nDataFrames allow you to store and manipulate tabular data in rows of observations and columns of variables.'

In [4]:
import pandas as pd

In [6]:
s1=pd.Series([1,3,4,4,5])

In [7]:
s1

0    1
1    3
2    4
3    4
4    5
dtype: int64

In [8]:
 type(s1)

pandas.core.series.Series

In [11]:
s1=pd.Series([1,3,4,4,5],index=['a','b','c','d','e'])
s1

a    1
b    3
c    4
d    4
e    5
dtype: int64

In [12]:
s2=pd.Series({'k2':1,'k3':4})

In [13]:
s2

k2    1
k3    4
dtype: int64

In [15]:
s2['k3']

4

In [17]:
s2['k2']

1

In [18]:
l1=pd.Series([1,2,3,4,5,6,6,7])

In [19]:
l1

0    1
1    2
2    3
3    4
4    5
5    6
6    6
7    7
dtype: int64

In [20]:
l1[:4]

0    1
1    2
2    3
3    4
dtype: int64

In [23]:
l1[-3:]

5    6
6    6
7    7
dtype: int64

In [26]:
l2=pd.Series([1,2,3,4,5,6,6,33,33])

In [27]:
l1+l2

0     2.0
1     4.0
2     6.0
3     8.0
4    10.0
5    12.0
6    12.0
7    40.0
8     NaN
dtype: float64

In [28]:
l1*l2

0      1.0
1      4.0
2      9.0
3     16.0
4     25.0
5     36.0
6     36.0
7    231.0
8      NaN
dtype: float64

In [29]:
l1+10

0    11
1    12
2    13
3    14
4    15
5    16
6    16
7    17
dtype: int64

In [30]:
l1%l2

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    7.0
8    NaN
dtype: float64

In [31]:
l1/l2

0    1.000000
1    1.000000
2    1.000000
3    1.000000
4    1.000000
5    1.000000
6    1.000000
7    0.212121
8         NaN
dtype: float64

In [32]:
##create data frame

In [33]:
import pandas as pd

In [34]:
dataframe=pd.DataFrame({'name':['John','bob','boby'],'marks':[10,20,30]})

In [35]:
dataframe

   name  marks
0  John     10
1   bob     20
2  boby     30

In [41]:
type(dataframe)

pandas.core.frame.DataFrame

In [42]:
data=pd.read_csv('demodata.csv')

In [43]:
data

,Series reference,Period,Description,Revised,Initially published
0,2019.09,PPIQ.SQN800000,"All industries excl admin health educati, Inpu...",1167,1164
1,2019.12,PPIQ.SQN800000,"All industries excl admin health educati, Inpu...",1170,1166
2,2019.09,PPIQ.SQN800001,"All industries ex admin health edu OOD, Inputs...",1167,1164
3,2019.12,PPIQ.SQN800001,"All industries ex admin health edu OOD, Inputs...",1170,1166
4,2019.09,PPIQ.SQN900000,"All industries, Inputs Indexes (Level 0)",1166,1164
...,...,...,...,...,...
62,2019.12,PPIQ.SQUCC1300,"Dairy Product Manufacturing, Outputs Indexes (...",1220,1217
63,2019.09,PPIQ.SQUCC1310,"Dairy Product Manufacturing, Outputs Indexes (...",1243,1241
64,2019.12,PPIQ.SQUCC1310,"Dairy Product Manufacturing, Outputs Indexes (...",1220,1217
65,2019.12,PPIQ.SQUCC3200,"Pulp, Paper and Converted Paper Product, Outpu...",1015,1014
66,2019.12,PPIQ.SQUCC3210,"Pulp, Paper and Converted Paper Product Manufa...",1015,1014

In [44]:
data.head()

,Series reference,Period,Description,Revised,Initially published
0,2019.09,PPIQ.SQN800000,"All industries excl admin health educati, Inpu...",1167,1164
1,2019.12,PPIQ.SQN800000,"All industries excl admin health educati, Inpu...",1170,1166
2,2019.09,PPIQ.SQN800001,"All industries ex admin health edu OOD, Inputs...",1167,1164
3,2019.12,PPIQ.SQN800001,"All industries ex admin health edu OOD, Inputs...",1170,1166
4,2019.09,PPIQ.SQN900000,"All industries, Inputs Indexes (Level 0)",1166,1164

In [45]:
data.tail()

,Series reference,Period,Description,Revised,Initially published
62,2019.12,PPIQ.SQUCC1300,"Dairy Product Manufacturing, Outputs Indexes (...",1220,1217
63,2019.09,PPIQ.SQUCC1310,"Dairy Product Manufacturing, Outputs Indexes (...",1243,1241
64,2019.12,PPIQ.SQUCC1310,"Dairy Product Manufacturing, Outputs Indexes (...",1220,1217
65,2019.12,PPIQ.SQUCC3200,"Pulp, Paper and Converted Paper Product, Outpu...",1015,1014
66,2019.12,PPIQ.SQUCC3210,"Pulp, Paper and Converted Paper Product Manufa...",1015,1014

In [47]:
data.shape

(67, 5)

In [48]:
data.describe()

       Series reference      Revised  Initially published
count         67.000000    67.000000            67.000000
mean        2019.109254  1223.208955          1209.880597
std            0.014493   120.126390           122.416517
min         2019.090000  1015.000000          1014.000000
25%         2019.090000  1164.000000          1156.000000
50%         2019.120000  1207.000000          1184.000000
75%         2019.120000  1251.000000          1250.000000
max         2019.120000  1613.000000          1608.000000

In [49]:
data.iloc[0:4,1:3] ##extract data

           Period                                        Description
0  PPIQ.SQN800000  All industries excl admin health educati, Inpu...
1  PPIQ.SQN800000  All industries excl admin health educati, Inpu...
2  PPIQ.SQN800001  All industries ex admin health edu OOD, Inputs...
3  PPIQ.SQN800001  All industries ex admin health edu OOD, Inputs...

In [54]:
data.loc[1:10,("Revised","Period")]

    Revised          Period
1      1170  PPIQ.SQN800000
2      1167  PPIQ.SQN800001
3      1170  PPIQ.SQN800001
4      1166  PPIQ.SQN900000
5      1169  PPIQ.SQN900000
6      1166  PPIQ.SQN900001
7      1169  PPIQ.SQN900001
8      1207  PPIQ.SQNAA0000
9      1217  PPIQ.SQNAA2000
10     1217  PPIQ.SQNAA2100

In [56]:
data.drop("Period",axis=1) ##axis =1 mean delete column and axis =0 mean delete row

,Series reference,Description,Revised,Initially published
0,2019.09,"All industries excl admin health educati, Inpu...",1167,1164
1,2019.12,"All industries excl admin health educati, Inpu...",1170,1166
2,2019.09,"All industries ex admin health edu OOD, Inputs...",1167,1164
3,2019.12,"All industries ex admin health edu OOD, Inputs...",1170,1166
4,2019.09,"All industries, Inputs Indexes (Level 0)",1166,1164
...,...,...,...,...
62,2019.12,"Dairy Product Manufacturing, Outputs Indexes (...",1220,1217
63,2019.09,"Dairy Product Manufacturing, Outputs Indexes (...",1243,1241
64,2019.12,"Dairy Product Manufacturing, Outputs Indexes (...",1220,1217
65,2019.12,"Pulp, Paper and Converted Paper Product, Outpu...",1015,1014
66,2019.12,"Pulp, Paper and Converted Paper Product Manufa...",1015,1014

In [57]:
data.head()

,Series reference,Period,Description,Revised,Initially published
0,2019.09,PPIQ.SQN800000,"All industries excl admin health educati, Inpu...",1167,1164
1,2019.12,PPIQ.SQN800000,"All industries excl admin health educati, Inpu...",1170,1166
2,2019.09,PPIQ.SQN800001,"All industries ex admin health edu OOD, Inputs...",1167,1164
3,2019.12,PPIQ.SQN800001,"All industries ex admin health edu OOD, Inputs...",1170,1166
4,2019.09,PPIQ.SQN900000,"All industries, Inputs Indexes (Level 0)",1166,1164

In [60]:
data.drop([1,2,3],axis=0)

,Series reference,Period,Description,Revised,Initially published
0,2019.09,PPIQ.SQN800000,"All industries excl admin health educati, Inpu...",1167,1164
4,2019.09,PPIQ.SQN900000,"All industries, Inputs Indexes (Level 0)",1166,1164
5,2019.12,PPIQ.SQN900000,"All industries, Inputs Indexes (Level 0)",1169,1165
6,2019.09,PPIQ.SQN900001,"All industries excl OOD, Inputs Indexes (Level 0)",1166,1163
7,2019.12,PPIQ.SQN900001,"All industries excl OOD, Inputs Indexes (Level 0)",1169,1165
...,...,...,...,...,...
62,2019.12,PPIQ.SQUCC1300,"Dairy Product Manufacturing, Outputs Indexes (...",1220,1217
63,2019.09,PPIQ.SQUCC1310,"Dairy Product Manufacturing, Outputs Indexes (...",1243,1241
64,2019.12,PPIQ.SQUCC1310,"Dairy Product Manufacturing, Outputs Indexes (...",1220,1217
65,2019.12,PPIQ.SQUCC3200,"Pulp, Paper and Converted Paper Product, Outpu...",1015,1014
66,2019.12,PPIQ.SQUCC3210,"Pulp, Paper and Converted Paper Product Manufa...",1015,1014

In [61]:
data.mean()

Series reference       2019.109254
Revised                1223.208955
Initially published    1209.880597
dtype: float64

In [62]:
data.min()

Series reference                                                 2019.09
Period                                                    PPIQ.SQN800000
Description            Agriculture, Forestry and Fishing Support Serv...
Revised                                                             1015
Initially published                                                 1014
dtype: object

In [63]:
data.max()

Series reference                                                 2019.12
Period                                                    PPIQ.SQUCC3210
Description            Wood and Paper Products Manufacturing, Inputs ...
Revised                                                             1613
Initially published                                                 1608
dtype: object

In [64]:
data.median()

Series reference       2019.12
Revised                1207.00
Initially published    1184.00
dtype: float64

In [66]:
data

,Series reference,Period,Description,Revised,Initially published
0,2019.09,PPIQ.SQN800000,"All industries excl admin health educati, Inpu...",1167,1164
1,2019.12,PPIQ.SQN800000,"All industries excl admin health educati, Inpu...",1170,1166
2,2019.09,PPIQ.SQN800001,"All industries ex admin health edu OOD, Inputs...",1167,1164
3,2019.12,PPIQ.SQN800001,"All industries ex admin health edu OOD, Inputs...",1170,1166
4,2019.09,PPIQ.SQN900000,"All industries, Inputs Indexes (Level 0)",1166,1164
...,...,...,...,...,...
62,2019.12,PPIQ.SQUCC1300,"Dairy Product Manufacturing, Outputs Indexes (...",1220,1217
63,2019.09,PPIQ.SQUCC1310,"Dairy Product Manufacturing, Outputs Indexes (...",1243,1241
64,2019.12,PPIQ.SQUCC1310,"Dairy Product Manufacturing, Outputs Indexes (...",1220,1217
65,2019.12,PPIQ.SQUCC3200,"Pulp, Paper and Converted Paper Product, Outpu...",1015,1014
66,2019.12,PPIQ.SQUCC3210,"Pulp, Paper and Converted Paper Product Manufa...",1015,1014

In [72]:
def half(s):
    return s/2
data[['Initially published','Revised']].apply(half)

    Initially published  Revised
0                 582.0    583.5
1                 583.0    585.0
2                 582.0    583.5
3                 583.0    585.0
4                 582.0    583.0
..                  ...      ...
62                608.5    610.0
63                620.5    621.5
64                608.5    610.0
65                507.0    507.5
66                507.0    507.5

[67 rows x 2 columns]

In [74]:
data['Revised'].value_counts()

1217    3
1218    3
1162    3
1166    3
1179    3
1613    2
1293    2
1170    2
1015    2
1169    2
1167    2
1220    2
1108    2
1237    2
1243    2
1545    2
1251    2
1061    2
1131    2
1284    2
1138    2
1101    2
1429    1
1150    1
1287    1
1178    1
1207    1
1184    1
1185    1
1318    1
1203    1
1336    1
1459    1
1298    1
1232    1
1245    1
1250    1
1258    1
1264    1
1154    1
Name: Revised, dtype: int64

In [79]:
data.sort_values(by='Revised')

,Series reference,Period,Description,Revised,Initially published
66,2019.12,PPIQ.SQUCC3210,"Pulp, Paper and Converted Paper Product Manufa...",1015,1014
65,2019.12,PPIQ.SQUCC3200,"Pulp, Paper and Converted Paper Product, Outpu...",1015,1014
45,2019.09,PPIQ.SQUAA1310,"Dairy Cattle Farming, Outputs Indexes (Level 4)",1061,1019
43,2019.09,PPIQ.SQUAA1300,"Dairy Cattle Farming, Outputs Indexes (Level 3)",1061,1019
46,2019.12,PPIQ.SQUAA1310,"Dairy Cattle Farming, Outputs Indexes (Level 4)",1101,1048
...,...,...,...,...,...
56,2019.12,PPIQ.SQUC03210,"Logs for domestic market, LPT PPI - NA06CC hig...",1459,1399
41,2019.09,PPIQ.SQUAA1210,"Sheep, Beef Cattle and Grain Farming, Outputs ...",1545,1541
39,2019.09,PPIQ.SQUAA1200,"Sheep, Beef Cattle and Grain Farming, Outputs ...",1545,1541
42,2019.12,PPIQ.SQUAA1210,"Sheep, Beef Cattle and Grain Farming, Outputs ...",1613,1608
40,2019.12,PPIQ.SQUAA1200,"Sheep, Beef Cattle and Grain Farming, Outputs ...",1613,1608